{% load static %}

<div class="busket-top">
    <div class="busket-top__sep">
        <h3 class="busket-top__title">Корзина</h3>
        <p class="busket-top__excerpt">Изделия на заказ по размерам покупателя, предоплата от 20%</p>
    </div>
    <div class="busket-top__table">
        <div class="busket-top__slugs">
            <strong>Наименование товара</strong>
            <strong>Количество</strong>
            <strong>Цена</strong>
            <strong>Итого</strong>
        </div>
        <div class="busket-top__items">
            {% for cart_product in products %}
                <div class="busket-top__elem">
                    <p class="busket-top__name">{{ cart_product.product.name }}</p>
                    <div class="busket-top__controls">
                        <a class="busket-top__minus" href="{% url 'to_cart' cart_product.product.pk 'delete' %}">
                            <img src="{% static 'images/icons/minus.svg' %}" alt="">
                        </a>
                        <output class="busket-top__count">{{ cart_product.quantity }}</output>
                        <a class="busket-top__plus" href="{% url 'to_cart' cart_product.product.pk 'add' %}">
                            <img src="{% static 'images/icons/plus.svg' %}" alt="">
                        </a>
                    </div>
                    <p class="busket-top__control price">{{ cart_product.product.price }} сум</p>
                    <p class="busket-top__control total">{{ cart_product.get_total_price }} сум</p>
                    <a class="busket-top__remove" href="{% url 'to_cart' cart_product.product.pk 'delete_all' %}">
                        <img src="{% static 'images/icons/trash.svg' %}" alt="remove item icon">
                    </a>
                </div>
            {% endfor %}

        </div>
    </div>
</div>