{% load static %}

<div class="busket-top">
    <div class="busket-top__sep">
        <h3 class="busket-top__title">Корзина</h3>
        <p class="busket-top__excerpt">Изделия на заказ по размерам покупателя, предоплата от 20%</p>
    </div>
    <div class="busket-top__table">
        <div class="busket-top__slugs">
            <strong>Наименование товара</strong>
            <strong>Количество</strong>
            <strong>Цена</strong>
            <strong>Итого</strong>
        </div>
        <div class="busket-top__items">
            <div class="busket-top__elem">
                <p class="busket-top__name">Рулонные шторы День-Ночь Уни2 стандарт белый 225</p>
                <div class="busket-top__controls">
                    <a class="busket-top__minus" href="#!">
                        <img src="{% static 'images/icons/minus.svg' %}" alt="">
                    </a>
                    <output class="busket-top__count">2</output>
                    <a class="busket-top__plus" href="#!">
                        <img src="{% static 'images/icons/plus.svg' %}" alt="">
                    </a>
                </div>
                <p class="busket-top__control price">100 000 сум</p>
                <p class="busket-top__control total">200 000 сум</p>
                <a class="busket-top__remove" href="#!">
                    <img src="{% static 'images/icons/trash.svg' %}" alt="remove item icon">
                </a>
            </div>
            <div class="busket-top__elem">
                <p class="busket-top__name">Рулонные шторы День-Ночь Уни2 стандарт белый 225</p>
                <div class="busket-top__controls">
                    <a class="busket-top__minus" href="#!">
                        <img src="{% static 'images/icons/minus.svg' %}" alt="">
                    </a>
                    <output class="busket-top__count">2</output>
                    <a class="busket-top__plus" href="#!">
                        <img src="{% static 'images/icons/plus.svg' %}" alt="">
                    </a>
                </div>
                <p class="busket-top__control price">100 000 сум</p>
                <p class="busket-top__control total">200 000 сум</p>
                <a class="busket-top__remove" href="#!">
                    <img src="{% static 'images/icons/trash.svg' %}" alt="remove item icon">
                </a>
            </div>
        </div>
    </div>
</div>