{% load static %}


<section class="about">
        <div class="container">
            <div class="about__content">
                <div class="about__left"><h3 class="about__title">О компании COMBO.UZ</h3>
                    <p class="about__descr">Компания Combo.uz является производителем жалюзи и рулонных штор.Мы
                        занимаемся изготовлением и установкой жалюзи с 1997г.</p></div>
                <div class="about__right">
                    <div class="about__slider">
                        <div class="swiper-wrapper about__wrapper">
                            <div class="swiper-slide about__slide">
                                <img src="{% static 'images/main-page/gallery-projects01.png' %}"
                                     alt="Combo.uz gallery projects">
                            </div>
                            <div class="swiper-slide about__slide">
                                <img src="{% static 'images/main-page/gallery-projects02.png' %}"
                                     alt="Combo.uz gallery projects">
                            </div>
                            <div class="swiper-slide about__slide">
                                <img src="{% static 'images/main-page/gallery-projects03.png' %}"
                                     alt="Combo.uz gallery projects">
                            </div>
                            <div class="swiper-slide about__slide">
                                <img src="{% static 'images/main-page/gallery-projects02.png' %}"
                                     alt="Combo.uz gallery projects">
                            </div>
                            <div class="swiper-slide about__slide">
                                <img src="{% static 'images/main-page/gallery-projects03.png' %}"
                                     alt="Combo.uz gallery projects">
                            </div>
                            <div class="swiper-slide about__slide">
                                <img src="{% static 'images/main-page/gallery-projects02.png' %}"
                                     alt="Combo.uz gallery projects">
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>