{% load static %}

<section class="our-clients">
        <div class="container"><h2 class="our-clients__title">Наши клиенты</h2>
            <p class="our-clients__descr">Среди наших клиентов, такие уважаемые компании</p>
            <div class="our-clients__cards">
                <div class="our-clients__item">
                    <img src="{% static 'images/about-company/client.png' %}" alt="Combo.uz clients">
                </div>
                <div class="our-clients__item">
                    <img src="{% static 'images/about-company/client.png' %}" alt="Combo.uz clients">
                </div>
                <div class="our-clients__item">
                    <img src="{% static 'images/about-company/client.png' %}" alt="Combo.uz clients">
                </div>
                <div class="our-clients__item">
                    <img src="{% static 'images/about-company/client.png' %}" alt="Combo.uz clients">
                </div>
                <div class="our-clients__item">
                    <img src="{% static 'images/about-company/client.png' %}" alt="Combo.uz clients">
                </div>
                <div class="our-clients__item">
                    <img src="{% static 'images/about-company/client.png' %}" alt="Combo.uz clients">
                </div>
                <div class="our-clients__item">
                    <img src="{% static 'images/about-company/client.png' %}" alt="Combo.uz clients">
                </div>
                <div class="our-clients__item">
                    <img src="{% static 'images/about-company/client.png' %}" alt="Combo.uz clients">
                </div>
                <div class="our-clients__item">
                    <img src="{% static 'images/about-company/client.png' %}" alt="Combo.uz clients">
                </div>
            </div>
        </div>
    </section>