{% load static %}

<section class="our-clients">
    <div class="container"><h2 class="our-clients__title">Наши клиенты</h2>
        <p class="our-clients__descr">Среди наших клиентов, такие уважаемые компании</p>
        <div class="our-clients__cards">
            {% for client in clients %}
                <div class="our-clients__item">
                    <img src="{{ client.photo.url }}" alt="Combo.uz {{ client.name }}">
                </div>
            {% endfor %}
        </div>
    </div>
</section>