{% extends 'base.html' %}
{% load static %}

{% block title %}
    Категории
{% endblock title %}

{% block content %}
    <div class="breadcrumbs">
        <div class="container">
            <div class="breadcrumbs__content">
                <div class="breadcrumbs__item">
                    <a class="breadcrumbs__link" href="#!"><span>Главная</span>
                        <img src="{% static 'images/icons/arrow-right-light.svg' %}" alt="">
                    </a>
                </div>
                <div class="breadcrumbs__item">
                    <span class="breadcrumbs__line"></span>
                    <a class="breadcrumbs__link active" href="#!">
                        <span>Руллоные шторы</span>
                    </a>
                </div>
            </div>
        </div>
    </div>

    <section class="goods-filters">
        <div class="container">
            <h2 class="goods-filters__title">Рулонные кассетные COMBO</h2>
            <h3 class="goods-filters__name">Фильтры</h3>
            <button class="goods-filters__toggle"><img src="{% static 'images/icons/filtering.svg' %}" alt=""></button>
            <div class="goods-filters__content">

                {# filters-left start #}
                {% include 'app/components/categories/_filters-left.html' %}
                {# filters-left end #}

                {# filters-right start #}
                {% include 'app/components/categories/_filters-right.html' %}
                {# filters-right end #}

            </div>
            {# pagination start #}
            {% include 'app/components/categories/_pagination.html' %}
            {# pagination end #}
        </div>
    </section>
{% endblock content %}

