{% extends 'base.html' %}

{% block title %}
Продукт
{% endblock title %}

{% block content %}
<div class="breadcrumbs">
    <div class="container">
        <div class="breadcrumbs__content">
            <div class="breadcrumbs__item"><a class="breadcrumbs__link" href="#!"><span>Главная</span><img
                    src="/assets/images/icons/arrow-right-light.svg" alt=""></a></div>
            <div class="breadcrumbs__item"><a class="breadcrumbs__link" href="#!"><span>Руллоные шторы</span><img
                    src="/assets/images/icons/arrow-right-light.svg" alt=""></a></div>
            <div class="breadcrumbs__item"><span class="breadcrumbs__line"></span><a
                    class="breadcrumbs__link active" href="#!"><span>NEW O V - 33</span></a></div>
        </div>
    </div>
</div>
<section class="single">
    <aside class="goods-filters__left">
        <div class="goods-filters__accordion">
            <div class="goods-filters__accordion-item open"><h4 class="goods-filters__accordion-name">
                <span>Каталог</span><img src="/assets/images/icons/arrow-bottom.svg" alt=""></h4>
                <div class="goods-filters__accordion-content">
                    <ul class="goods-filters__accordion-list">
                        <li class="goods-filters__accordion-elem"><a class="goods-filters__accordion-link active"
                                                                     href="#!"><span>Exclusive </span><span>Кол-во(31)</span></a>
                        </li>
                        <li class="goods-filters__accordion-elem"><a class="goods-filters__accordion-link"
                                                                     href="#!"><span>Exclusive </span><span>Кол-во(31)</span></a>
                        </li>
                        <li class="goods-filters__accordion-elem"><a class="goods-filters__accordion-link"
                                                                     href="#!"><span>Exclusive </span><span>Кол-во(31)</span></a>
                        </li>
                        <li class="goods-filters__accordion-elem"><a class="goods-filters__accordion-link"
                                                                     href="#!"><span>Exclusive </span><span>Кол-во(31)</span></a>
                        </li>
                        <li class="goods-filters__accordion-elem"><a class="goods-filters__accordion-link"
                                                                     href="#!"><span>Exclusive </span><span>Кол-во(31)</span></a>
                        </li>
                        <li class="goods-filters__accordion-elem"><a class="goods-filters__accordion-link"
                                                                     href="#!"><span>Exclusive </span><span>Кол-во(31)</span></a>
                        </li>
                        <li class="goods-filters__accordion-elem"><a class="goods-filters__accordion-link"
                                                                     href="#!"><span>Exclusive </span><span>Кол-во(31)</span></a>
                        </li>
                        <li class="goods-filters__accordion-elem"><a class="goods-filters__accordion-link"
                                                                     href="#!"><span>Exclusive </span><span>Кол-во(31)</span></a>
                        </li>
                        <li class="goods-filters__accordion-elem"><a class="goods-filters__accordion-link"
                                                                     href="#!"><span>Exclusive </span><span>Кол-во(31)</span></a>
                        </li>
                        <li class="goods-filters__accordion-elem"><a class="goods-filters__accordion-link"
                                                                     href="#!"><span>Exclusive </span><span>Кол-во(31)</span></a>
                        </li>
                        <li class="goods-filters__accordion-elem"><a class="goods-filters__accordion-link"
                                                                     href="#!"><span>Exclusive </span><span>Кол-во(31)</span></a>
                        </li>
                        <li class="goods-filters__accordion-elem"><a class="goods-filters__accordion-link"
                                                                     href="#!"><span>Exclusive </span><span>Кол-во(31)</span></a>
                        </li>
                        <li class="goods-filters__accordion-elem"><a class="goods-filters__accordion-link"
                                                                     href="#!"><span>Exclusive </span><span>Кол-во(31)</span></a>
                        </li>
                    </ul>
                </div>
            </div>
            <div class="goods-filters__accordion-item"><h4 class="goods-filters__accordion-name">
                <span>Цвет</span><img src="/assets/images/icons/arrow-bottom.svg" alt=""></h4>
                <div class="goods-filters__accordion-content">
                    <ul class="goods-filters__accordion-list">
                        <li class="goods-filters__accordion-elem"><a class="goods-filters__accordion-link"
                                                                     href="#!"><span>Exclusive </span><span>Кол-во(31)</span></a>
                        </li>
                        <li class="goods-filters__accordion-elem"><a class="goods-filters__accordion-link"
                                                                     href="#!"><span>Exclusive </span><span>Кол-во(31)</span></a>
                        </li>
                        <li class="goods-filters__accordion-elem"><a class="goods-filters__accordion-link"
                                                                     href="#!"><span>Exclusive </span><span>Кол-во(31)</span></a>
                        </li>
                    </ul>
                </div>
            </div>
            <div class="goods-filters__accordion-item"><h4 class="goods-filters__accordion-name">
                <span>Затемнение</span><img src="/assets/images/icons/arrow-bottom.svg" alt=""></h4>
                <div class="goods-filters__accordion-content">
                    <ul class="goods-filters__accordion-list">
                        <li class="goods-filters__accordion-elem"><a class="goods-filters__accordion-link"
                                                                     href="#!"><span>Exclusive </span><span>Кол-во(31)</span></a>
                        </li>
                        <li class="goods-filters__accordion-elem"><a class="goods-filters__accordion-link"
                                                                     href="#!"><span>Exclusive </span><span>Кол-во(31)</span></a>
                        </li>
                        <li class="goods-filters__accordion-elem"><a class="goods-filters__accordion-link"
                                                                     href="#!"><span>Exclusive </span><span>Кол-во(31)</span></a>
                        </li>
                        <li class="goods-filters__accordion-elem"><a class="goods-filters__accordion-link"
                                                                     href="#!"><span>Exclusive </span><span>Кол-во(31)</span></a>
                        </li>
                        <li class="goods-filters__accordion-elem"><a class="goods-filters__accordion-link"
                                                                     href="#!"><span>Exclusive </span><span>Кол-во(31)</span></a>
                        </li>
                    </ul>
                </div>
            </div>
            <div class="goods-filters__accordion-item"><h4 class="goods-filters__accordion-name">
                <span>Производитель</span><img src="/assets/images/icons/arrow-bottom.svg" alt=""></h4>
                <div class="goods-filters__accordion-content">
                    <ul class="goods-filters__accordion-list">
                        <li class="goods-filters__accordion-elem"><a class="goods-filters__accordion-link"
                                                                     href="#!"><span>Exclusive </span><span>Кол-во(31)</span></a>
                        </li>
                        <li class="goods-filters__accordion-elem"><a class="goods-filters__accordion-link"
                                                                     href="#!"><span>Exclusive </span><span>Кол-во(31)</span></a>
                        </li>
                        <li class="goods-filters__accordion-elem"><a class="goods-filters__accordion-link"
                                                                     href="#!"><span>Exclusive </span><span>Кол-во(31)</span></a>
                        </li>
                        <li class="goods-filters__accordion-elem"><a class="goods-filters__accordion-link"
                                                                     href="#!"><span>Exclusive </span><span>Кол-во(31)</span></a>
                        </li>
                    </ul>
                </div>
            </div>
            <div class="goods-filters__accordion-item"><h4 class="goods-filters__accordion-name">
                <span>Сортировка</span><img src="/assets/images/icons/arrow-bottom.svg" alt=""></h4>
                <div class="goods-filters__accordion-content">
                    <ul class="goods-filters__accordion-list">
                        <li class="goods-filters__accordion-elem"><a class="goods-filters__accordion-link"
                                                                     href="#!"><span>Exclusive </span><span>Кол-во(31)</span></a>
                        </li>
                        <li class="goods-filters__accordion-elem"><a class="goods-filters__accordion-link"
                                                                     href="#!"><span>Exclusive </span><span>Кол-во(31)</span></a>
                        </li>
                        <li class="goods-filters__accordion-elem"><a class="goods-filters__accordion-link"
                                                                     href="#!"><span>Exclusive </span><span>Кол-во(31)</span></a>
                        </li>
                        <li class="goods-filters__accordion-elem"><a class="goods-filters__accordion-link"
                                                                     href="#!"><span>Exclusive </span><span>Кол-во(31)</span></a>
                        </li>
                        <li class="goods-filters__accordion-elem"><a class="goods-filters__accordion-link"
                                                                     href="#!"><span>Exclusive </span><span>Кол-во(31)</span></a>
                        </li>
                        <li class="goods-filters__accordion-elem"><a class="goods-filters__accordion-link"
                                                                     href="#!"><span>Exclusive </span><span>Кол-во(31)</span></a>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </aside>
    <button class="goods-filters__toggle"><img src="/assets/images/icons/filtering.svg" alt=""></button>
    <div class="container single__container">
        <div class="single__good">
            <div class="single__left">
                <div class="single__left-images">
                    <div class="single__left-item"><img src="/assets/images/single-item/mini-image.png" alt="">
                    </div>
                    <div class="single__left-item"><img src="/assets/images/single-item/mini-image.png" alt="">
                    </div>
                    <div class="single__left-item"><img src="/assets/images/single-item/mini-image.png" alt="">
                    </div>
                    <div class="single__left-item"><img src="/assets/images/single-item/mini-image.png" alt="">
                    </div>
                </div>
                <div class="single__left-show" data-img="/assets/images/single-item/full-image.png">
                    <div class="single__left-zoom" itemprop="image"></div>
                    <img src="/assets/images/single-item/full-image.png" alt=""></div>
            </div>
            <form class="single__right"><h2 class="single__right-title"></h2><strong
                    class="single__right-feature size" href="ссылка-на-изображение.jpg">Размер</strong>
                <div class="single__right-sep size">
                    <div class="single__right-chose">
                        <div class="single__right-hint-abs"><p>Менее 1 кв.м, считается как 1 кв.м</p></div>
                        <span class="single__right-info">ширина</span><select class="single__right-select"
                                                                              name="item-width">
                        <option value="2мм" selected="selected">2мм</option>
                        <option value="4мм">4мм</option>
                        <option value="6мм">6мм</option>
                        <option value="8мм">8мм</option>
                        <option value="10мм">10мм</option>
                    </select></div>
                    <div class="single__right-chose">
                        <div class="single__right-hint-abs"><p>Менее 1 кв.м, считается как 1 кв.м</p></div>
                        <span class="single__right-info">Длина</span><select class="single__right-select"
                                                                             name="item-length">
                        <option value="54мм" selected="selected">54мм</option>
                        <option value="56мм">56мм</option>
                        <option value="58мм">58мм</option>
                        <option value="60мм">60мм</option>
                        <option value="62мм">60мм</option>
                    </select></div>
                </div>
                <strong class="single__right-feature control">Управление</strong>
                <div class="single__right-sep control"><label class="single__right-label"><input type="radio"
                                                                                                 value="left"
                                                                                                 name="item-control"><span
                        class="single__right-check"></span><span
                        class="single__right-info">Слева</span></label><label class="single__right-label"><input
                        type="radio" value="right" name="item-control"><span
                        class="single__right-check"></span><span class="single__right-info">Справа</span></label>
                </div>
                <strong class="single__right-feature count">Кол-во</strong>
                <div class="single__right-sep count"><select class="single__right-select" name="item-count">
                    <option value="1">1</option>
                    <option value="2">2</option>
                    <option value="3">3</option>
                    <option value="4">4</option>
                    <option value="5">5</option>
                    <option value="6">6</option>
                    <option value="7">7</option>
                    <option value="8">8</option>
                    <option value="9">9</option>
                    <option value="10">10</option>
                    <option value="11">11</option>
                    <option value="12">12</option>
                    <option value="13">13</option>
                    <option value="14">14</option>
                    <option value="15">15</option>
                    <option value="16">16</option>
                    <option value="17">17</option>
                    <option value="18">18</option>
                    <option value="19">19</option>
                </select><span class="single__right-info">штук</span></div>
                <div class="single__right-flex">
                    <div class="single__right-flex-left"><strong class="single__right-feature type-cornise">Тип
                        карниза</strong>
                        <div class="single__right-sep"><label class="single__right-label"><input type="radio"
                                                                                                 value="aluminium"
                                                                                                 name="item-cornice-type"><span
                                class="single__right-check"></span><span
                                class="single__right-info">Алюминевый</span></label><label
                                class="single__right-label"><input type="radio" value="plastic"
                                                                   name="item-cornice-type"><span
                                class="single__right-check"></span><span
                                class="single__right-info">Пластиковый</span></label></div>
                        <strong class="single__right-feature type-control">Тип управления</strong>
                        <div class="single__right-sep"><label class="single__right-label"><input type="radio"
                                                                                                 value="manual"
                                                                                                 name="item-control-type"><span
                                class="single__right-check"></span><span
                                class="single__right-info">Ручной</span></label><label
                                class="single__right-label"><input type="radio" value="electro"
                                                                   name="item-control-type"><span
                                class="single__right-check"></span><span
                                class="single__right-info">С электроприводом</span></label>
                        </div>
                    </div>
                    <button class="single__right-btn darkBlueHover" type="submit"><strong>В корзину</strong><span
                            class="single__right-icon"><img src="/assets/images/icons/work-light.svg" alt=""></span>
                    </button>
                </div>
            </form>
        </div>
        <div class="single__content">
            <ul class="single__content-features">
                <li class="single__content-elem">Страна производитель: Китай</li>
                <li class="single__content-elem">Тип ткани: Полиэстер</li>
                <li class="single__content-elem">Свойство: Гладкий</li>
                <li class="single__content-elem">Затемнение: 50%</li>
            </ul>
            <h4 class="single__content-price">Цена: 80 500 сум за 1 м2</h4>
            <p class="single__content-info">Рулонные шторы системы Мини - это лаконичная и изящная конструкция,
                подходящая для окон до 150х170 см. Такая штора смотрится минималистично за счет небольшого крепления
                и узкого вала диаметром 19 см. В этой конструкции нет короба и направляющих. Она легкая и может
                монтироваться без сверления на створки пластиковых окон, включая откидные, и фиксируется в нижней
                части при помощи магнитов</p>
            <h3 class="single__content-characters">Характеристики</h3>
            <div class="single__content-item"><h4 class="single__content-title">Гарантийные размеры</h4>
                <p class="single__content-descr">ширина от 350 мм до 1500 мм - высота от 300 мм до 2200 мм</p></div>
            <div class="single__content-item"><h4 class="single__content-title">Особенности применения</h4>
                <p class="single__content-descr">Рулонные шторы системы МИНИ используются для монтажа небольших
                    изделий на створку окна, применяются трубы диаметром 19мм., а также максимально компактные
                    кронштейны и механизмы.</p></div>
            <div class="single__content-item"><h4 class="single__content-title">Управление</h4>
                <p class="single__content-descr">Рулонные шторы управляются путем вращения цепочки, она может
                    располагаться слева или справа (взгляд на окно из помещения). Материал цепочки - пластик.
                    Полотно фиксируется в любом промежуточном положении.</p></div>
            <div class="single__content-item"><h4 class="single__content-title">Способ монтажа</h4>
                <p class="single__content-descr">на потолок / на откос на стену На створку окна, монтаж на саморезы,
                    возможно применение накидного кронштейна без сверления*(опция)</p></div>
            <div class="single__content-item"><h4 class="single__content-title">Светопроницаемость</h4>
                <p class="single__content-descr">Большинство тканей относятся к категории полупрозрачных.
                    Светопроницаемость - 50% Ткани black out имеют слой полимера с изнанки. Светопроницаемость - 0%
                    (не пропускают свет)</p></div>
            <div class="single__content-item"><h4 class="single__content-title">Чистка</h4>
                <p class="single__content-descr">Только сухая чистка, уборка пылесосом или влажной тряпкой. Для
                    тканей СКРИН допустимо применение мягкого моющего средства.<a
                            href="https://good-master.ru/news/uhod-za-rulonnimi-shtorami" target="_blank">Уход за
                        рулонными шторами</a></p></div>
        </div>
        <section class="single-comments"><h3 class="single-comments__title">Комментарии</h3>
            <div class="single-comments__content">
                <form class="single-comments__form" action="">
                    <div class="single-comments__user"><img class="single-comments__avatar"
                                                            src="/assets/images/single-item/user.png"
                                                            alt="user-avatar"><strong
                            class="single-comments__fullname">Игорь Зубарев</strong></div>
                    <textarea class="single-comments__textarea" name="user-comment"
                              placeholder="Оставьте комментарий"></textarea>
                    <button class="single-comments__btn darkBlueHover">Отправить</button>
                </form>
                <div class="single-comments__block">
                    <div class="single-comments__item">
                        <div class="single-comments__user"><img class="single-comments__avatar"
                                                                src="/assets/images/single-item/user-2.png"
                                                                alt="user-avatar"><strong
                                class="single-comments__fullname">Игорь Зубарев</strong></div>
                        <p class="single-comments__descr">I really appreciate the insights and perspective shared in
                            this article. It's definitely given me something to think about and has helped me see
                            things from a different angle. Thank you for writing and sharing!</p></div>
                </div>
                <a class="single-comments__loadmore" href="#!">Загрузить еще</a></div>
        </section>
    </div>
</section>
{% endblock content %}