{% extends 'base.html' %}
{% load static %}

{% block title %}
    Продукт
{% endblock title %}

{% block content %}
    <div class="breadcrumbs">
        <div class="container">
            <div class="breadcrumbs__content">
                <div class="breadcrumbs__item">
                    <a class="breadcrumbs__link" href="{% url 'home' %}">
                        <span>Главная</span>
                        <img src="{% static 'images/icons/arrow-right-light.svg' %}" alt="">
                    </a>
                </div>
                <div class="breadcrumbs__item">
                    <a class="breadcrumbs__link" href="{{ product.category.get_absolute_url }}">
                        <span>Руллоные шторы</span>
                        <img src="{% static 'images/icons/arrow-right-light.svg' %}" alt="">
                    </a>
                </div>
                <div class="breadcrumbs__item">
                    <span class="breadcrumbs__line"></span>
                    <a class="breadcrumbs__link active" href="#">
                        <span>NEW O V - 33</span>
                    </a>
                </div>
            </div>
        </div>
    </div>

    <section class="single">
        {# filters-left start #}
        {% include 'app/components/categories/_filters-left.html' %}
        {# filters-left end #}

        <button class="goods-filters__toggle">
            <img src="{% static 'images/icons/filtering.svg' %}" alt="">
        </button>
        <div class="container single__container">
            {# single-good start #}
            {% include 'app/components/product/_single-good.html' %}
            {# single-good end #}

            {# single-content start #}
            {% include 'app/components/product/_single-content.html' %}
            {# single-content end #}

            <section class="single-comments">
                <h3 class="single-comments__title">Комментарии</h3>
                <div class="single-comments__content">
                    <form class="single-comments__form" action="{% url 'add_comment' product.slug %}" method="post">
                        {% csrf_token %}
                        <div class="single-comments__user">
                            <img class="single-comments__avatar" src="/assets/images/single-item/user.png"
                                 alt="user-avatar">
                            <strong class="single-comments__fullname">Игорь Зубарев</strong>
                        </div>
                        {{ form.body }}
                        </textarea>
                        <button class="single-comments__btn darkBlueHover">Отправить</button>
                    </form>
                    <div class="single-comments__block">
                        <div class="single-comments__item">
                            <div class="single-comments__user">
                                <img class="single-comments__avatar"
                                     src="/assets/images/single-item/user-2.png"
                                     alt="user-avatar">
                                <strong class="single-comments__fullname">Игорь Зубарев</strong>
                            </div>
                            <p class="single-comments__descr">
                                I really appreciate the insights and perspective shared in
                                this article. It's definitely given me something to think about and has helped me see
                                things from a different angle. Thank you for writing and sharing!
                            </p>
                        </div>
                    </div>
                    <a class="single-comments__loadmore" href="#!">Загрузить еще</a></div>
            </section>
        </div>
    </section>
{% endblock content %}