{% extends 'base.html' %}
{% load static %}

{% block title %}
    Продукт
{% endblock title %}

{% block content %}
    <div class="breadcrumbs">
        <div class="container">
            <div class="breadcrumbs__content">
                <div class="breadcrumbs__item">
                    <a class="breadcrumbs__link" href="{% url 'home' %}">
                        <span>Главная</span>
                        <img src="{% static 'images/icons/arrow-right-light.svg' %}" alt="">
                    </a>
                </div>
                <div class="breadcrumbs__item">
                    <a class="breadcrumbs__link" href="{{ product.category.get_absolute_url }}">
                        <span>Руллоные шторы</span>
                        <img src="{% static 'images/icons/arrow-right-light.svg' %}" alt="">
                    </a>
                </div>
                <div class="breadcrumbs__item">
                    <span class="breadcrumbs__line"></span>
                    <a class="breadcrumbs__link active" href="#">
                        <span>{{ product.name }}</span>
                    </a>
                </div>
            </div>
        </div>
    </div>

    <section class="single">
        {# filters-left start #}
        {% include 'app/components/categories/_filters-left.html' %}
        {# filters-left end #}

        <button class="goods-filters__toggle">
            <img src="{% static 'images/icons/filtering.svg' %}" alt="">
        </button>
        <div class="container single__container">
            {# single-good start #}
            {% include 'app/components/product/_single-good.html' %}
            {# single-good end #}

            {# single-content start #}
            {% include 'app/components/product/_single-content.html' %}
            {# single-content end #}

            {# comments start #}
            {% include 'app/components/product/_comments.html' %}
            {# comments end #}
        </div>
    </section>
{% endblock content %}