{% load static %}

<section class="best-curtains">
    <div class="container">
        <div class="best-curtains__content">
            <div class="best-curtains__text">
                <h1 class="best-curtains__title">Лучшие шторы на рынке Узбекистана</h1>
                <p class="best-curtains__descr">
                    Lorem ipsum dolor sit amet consectetur. Facilisis aliquet volutpat
                    egestas non ipsum phasellus ac. Senectus malesuada lacinia dictum
                    elementum eu vel lacus quam nulla
                </p>
            </div>
        </div>
        <img
                class="best-curtains__background"
                src="{% static 'images/main-page/best-curtains.png' %}"
                alt="best curtains in Uzbekistan Combo.uz"
        />
    </div>
</section>