{% load static %}

<section class="reviews">
    <div class="container">
        <h2 class="reviews__title">Что говорят о нас</h2>
        <div class="reviews__items">
            {% include 'app/components/index/_review-item.html' %}
            {% include 'app/components/index/_review-item.html' %}
            {% include 'app/components/index/_review-item.html' %}
            {% include 'app/components/index/_review-item.html' %}
            {% include 'app/components/index/_review-item.html' %}
        </div>
    </div>
</section>