{% load static custom_tags %}


{% get_unique_elements 'dimming' as elements %}


<h4 class="goods-filters__accordion-name">
    <span>Затемнение</span>
    <img src="{% static 'images/icons/arrow-bottom.svg' %}" alt="">
</h4>
<div class="goods-filters__accordion-content">
    <ul class="goods-filters__accordion-list">
        {% for item in elements %}
        <li class="goods-filters__accordion-elem">
            <a class="goods-filters__accordion-link" href="?sort=dimming_{{ item }}">
                <span>{{ item }}%</span>
            </a>
        </li>
        {% endfor %}
    </ul>
</div>